.calKey {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  background-color: #2f2a3a;

  color: whitesmoke;
  border: 0;
  font-size: large;
}

.opColor {
  background-color: #bfbfc1;
  color: black;
}

.eqKey {
  background-color: #7c5efe;
  color: whitesmoke;
}

.acKey {
  color: #7c5efe;
}
