.calKey {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  background-color: #2F2A3A;
  
  color: whitesmoke;
  border: 0;
  font-size: large;
}

.opColor {
 background-color: #BFBFC1;
 color: black;
}

.eqKey {
  background-color: #7C5EFE;
  color: whitesmoke;
}

.acKey {
  color: #7C5EFE;
}